<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="npiFilePath" value="C:\Users\nelson\Documents\NPI Data\NPPES_Data_Dissemination_January_2017\npidata_20050523-20170108.csv"/>
  </appSettings>
</configuration>
