<h2>Create a provider</h2>

<form id="create-provider-form">
    <fieldset>
        <h3>Provider</h3>
        <div>
            <label>NPI:</label>
            <input type="text" name="npi" [(ngModel)]="provider.npi"/>
        </div>
        <div>
            <label>First name:</label>
            <input type="text" name="firstName" [(ngModel)]="provider.firstName">
        </div>
        <div>
            <label>Last name:</label>
            <input type="text" name="lastName" [(ngModel)]="provider.lastName"/>
        </div>

        <h3>Address</h3>
        <div>
            <label>Street</label>
            <input type="text" name="streetOne" [(ngModel)]="streetOne"/>
        </div>
        <div>
            <label>Street Two</label>
            <input type="text" name="streetTwo" [(ngModel)]="streetTwo"/>
        </div>
        <div>
            <label>City</label>
            <input type="text" name="city" [(ngModel)]="city"/>
        </div>
        <div>
            <label>State</label>
            <input type="text" name="state" [(ngModel)]="state"/>
        </div>
        <div>
            <label>Zip</label>
            <input type="text" name="zip" [(ngModel)]="zip"/>
        </div>

        <button type="button">Submit</button>
    </fieldset>
</form>