<h2>Create a provider</h2>

<form id="create-provider-form">
    <fieldset>
        <h3>Provider</h3>
        <label>NPI:</label><input type="text" name="npi"/>
        <label>First name:</label><input type="text" name="firstName"/>
        <label>last name:</label><input type="text" name="lastName"/>

        <h3>Address</h3>
        <label>Street</label><input type="text" name="lineOne"/>
        <label>Street Two</label><input type="text" name="lineOne"/>
        <label>City</label><input type="text" name="lineOne"/>
        <label>State</label><input type="text" name="lineOne"/>
        <label>Zip</label><input type="text" name="lineOne"/>

        <button type="button">Submit</button>
    </fieldset>
</form>