<h2>Providers</h2>

<table>
    <tr>
        <td>NPI</td>
        <td>Name</td>
    </tr>
    <tr *ngFor="let provider of providers">
        <td>
            <a routerLink="providers/{{provider.providerId}}">
            {{provider.npi}}
            </a>
        </td>
        <td>
            <a routerLink="providers/{{provider.providerId}}">
            {{provider.firstName}} {{provider.lastName}}
            </a>
        </td>
    </tr>
</table>

<div *ngIf="pagedResult">
    <pages [pagedResult]="pagedResult" [url]="pagingUrl"></pages>
</div>